.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 212, 255, 0.3);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
    background-color: rgba(192, 212, 255, 0.8);
  }
  